.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
    background-color: #f9dd08;
    row-gap: 100px;
    padding-top: 50px;
}
.image-div {
    cursor: pointer;
}
.image{
    height: 250px;
    width: 180px;
}
@media (max-width: 960px) {
    .container{
        row-gap: 70px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}


@media (max-width: 600px) {
    .image{
        height: 150px;
        width: 110px;
    }
    .container{
        row-gap: 30px;
        grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    }
}
