.container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    justify-items: center;
    align-items: center;
    background-color: #f9dd08;
}
.image {
    width: 50%;
    height: 50%;
    margin: 300px;
    cursor: pointer;
}
