.nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
    justify-content: space-between;
    height: 70px;
    padding: 0 100px;
}
.home-link{
    font-family: sans-serif;
    font-size: 30px;
}
.searched-book{
    font-family: sans-serif;
    font-size: 30px;
}