.details-container{
    display: flex;
    justify-content: center;
}
.book-image{
    height: 400px;
}
.flex-container-star{
    display: flex;
}
.details{
    background-color: #f9dd08;;
}
#buy-button{
    background-color: #549ae6;
    border-radius: 12px;
    width: 50%;
    min-width: 120px;
    max-width: 350px;
}
.favorite-button{
    background-color:#e05568;
    color: #F8F8FF;
    border-radius: 50%;
    margin-left: 10%;
    padding: 8px;
}
.sub-title{
    font-size: 20px;
    font-weight: 300;
}
.buy-favorite-buttons{
    display: flex;
    margin-bottom: 18px;
}
.book-title{
    font-size: 36px;
}
.sub-details-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
}
.price-rating-container{
    display: flex;
}
.price{
    margin-right: 10%;
    font-size: 30px;
}
.description{
    font-size: 25px;
    text-align: justify;
    margin: 25px;
}
.stars{
    display: flex;
    align-items: center;
}
.image-container{
    padding-right: 10%;
    padding-left: 20px;
}

@media (max-width: 960px) {
    .book-image{
        height: 300px;
    }
    .book-title{
        font-size: 30px;
    }
    .sub-title{
        font-size: 18px;
    }
    .price{
        font-size: 25px;
    }
}
@media (max-width: 600px) {
    .book-image{
        height: 180px;
    }
    .book-title{
        font-size: 23px;
    }
    .sub-title{
        font-size: 14px;
    }
    .price{
        font-size: 18px;
    }
}
